header {
  width: 100%;
  color: white;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  margin: auto;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: white;
}

.menu div {
  display: flex;
}

.menubutton {
  display: none;
  margin: 0 0 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  border: none;
  background: none;
  outline: none!important;
  transition: 0.1s;
  grid-column-start: 3;
}

@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    align-items: center;
  }
  .menubutton {
    display: block;
    align-self: start;
  }

  .menu {
    text-align: center;
  }
  .menu div {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
  }

  .logo {
    grid-column-start: 2;
  }
}